requests==2.32.5
cython==3.2.1
pyyaml==6.0.3
Flask==3.1.2
Flask[async]==3.1.2
python-dotenv==1.2.1
gunicorn==23.0.0
azure-data-tables==12.7.0
azure-storage-blob==12.27.1
langchain==1.1.0
langchain-openai==1.1.0
langchain-deepseek==1.0.1
langchain-community==0.4.1
langgraph==1.0.4
langsmith==0.4.49
xmltodict==1.0.2
pydantic==2.12.5
duckduckgo-search==8.1.1
ddgs==9.9.1
playwright==1.56.0
lxml==6.0.2
beautifulsoup4==4.14.2
deepagents==0.2.8
